doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Paul Nechifor Photography
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
        margin 0
        font-family: system-ui, Ubuntu, "Segoe UI", BlinkMacSystemFont, Roboto, Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      header, footer
        margin 0 auto
        max-width 800px
        text-align center
      a
        text-decoration none
        &:hover
          text-decoration underline
      .images
        spacing = 10px
        display flex
        flex-wrap wrap
        padding 0 spacing
        justify-content center
        align-items center
        img
          display block
          max-width calc(100% - 20px)
          margin spacing
      footer
        padding-top 0.5em
        small
          color #999
          a
            color #888

  body
    header: :markdown-it
      # [Paul Nechifor Photography](/)

    .images
      each image, i in images
        =' '
        a(href="images/" + image.name + ".jpg")
          img(
            alt=image.description || image.name.replace('-', ' ')
            src="images/" + image.name + ".thumb.jpg"
            loading=i < 3 ? null : "lazy"
          )

    footer
      :markdown-it
        Created by [Paul Nechifor](/). [View the Git source.](https://gitlab.com/paul-nechifor/photography)

      small: :markdown-it
        [Home](/) •
        [Blog](/blog) •
        [Projects](/projects) •
        [Twitter](https://twitter.com/PaulNechifor)
